@model AgendaMedica.Models.Medico

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-white">Excluir</h1>

<h3 class="text-white">Tem certeza que quer excluir isso?</h3>
<div class="text-white">
    <h4>Medico</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CRM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CRM)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Especialidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Especialidade.Nome)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="MedicoId" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a lista</a>
    </form>
</div>
